.sidebaroption {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 2px;
  cursor: pointer;
}
.sidebaroption > .sidebaroption__message {
  padding-left: 10px;
}
.sidebaroption:hover {
  background-color: #340e36;
  opacity: 0.9;
}
.sidebaroption__icon {
  margin: 10px;
  font-size: 18px !important;
}
.sidebaroption__hash {
  padding: 10px;
}
.sidebaroption__channel {
  padding: 10px 0;
}
